.dive {
  animation: diveDown 1.2s ease-in-out forwards;
}

@keyframes diveDown {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  100% {
    transform: scale(1.15);
    filter: brightness(0);
  }
}
